/* CSS DOCUMNET */ 

<meta name="viewport" content="width=device‑width, initial‑scale=1"> 

title{ font-size: 4em; color: cornflowerblue; font-family: sans-serif

}


h1{ color:#1D2B4F; font-size:  3em; 
 align-content: center; margin-left: 8em;  
}

h2 { color: #3E65C6; font-size: 2em; 
    font-family: serif; margin-left: 12em; 
    padding: 1em; 
}

h3 { 
font-size: 1em; 
font-family:sans-serif; margin-left: 2em; color: #007448; 
    

}

h4 {
    margin-left: 2em; font-family: sans-serif; margin-right: 25em; font-size: 1em; 
}


h5 { margin-right: 2em; font-family: sans-serif; margin-left: 2em; 
    
    
}