/*CSS DOCUMENT*/


<style>
  @import url("https://use.typekit.net/zdf3fqm.css");
</style>


img { 
width: 100%;}

div.container { max-width: XXem; margin: auto; background-color: beige; 

} 

body {
    font-family: "wedding-gothic-atf"
}


div.directions { font: font-family: wedding-gothic-atf,sans-serif;
font-weight: 300;
font-style: normal; }




h1 {font: font-family: wedding-gothic-atf,sans-serif;
font-weight: 400;
    font-style: normal;}
    



