/*CSS document*/

body {

}

div.container {
    max-width: 43em;
    margin: auto;
    background-color: #FFECDF; 
}

div.directions { 
font-family: wedding-gothic-atf,sans-serif;
font-weight: 300;
font-style: normal; }

link {
    text-decoration: none;
}


nav ul li {
    margin: auto; 
    list-style: none; 
    display: inline; 
    margin-right: 1em; 
    font-size: 1em;
    font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;
    
}

nav ul li a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
     
}

h1 {font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;}

h2{font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;}

h3 {
    font-family: maecenas,serif;
    font-weight: 500;
    font-style: normal;
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 1.6em; 
    padding-bottom: 0em;
} 


p {font-family: maecenas,serif;
font-weight: 400;
font-style: normal;  color: rgb(0, 0, 0);
    padding-top: 0em;
    padding-bottom: 2em;
    
}

figcaption { font-family: maecenas,serif;
font-weight: 200;
font-style: normal;
    font-size-adjust: auto; 
}



img {
    width: 100%;
}

main {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(72% + 3em);
}


a { text-decoration: none; }


div.gallery figure {
    margin: 0;
    width: 100%;
    position: absolute;
    left:100%;
    opacity: 0;
    transition: left 1s;

}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    left:0;
    opacity: 1;
}

div.gallery nav {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    padding-top: 0.5em;
	grid-gap: 0.5em;

}


ul {
    list-style-type: none; 
    padding; 0;
}

input {
    display: none;
}

