/*CSS document*/

body {

}

div.container {
    max-width: 43em;
    margin: auto;empty-cells; 
    background-color: #FFECDF; 
}

div.directions { font: font-family: wedding-gothic-atf,sans-serif;
font-weight: 300;
font-style: normal; }

nav {

}

nav ul li {
    margin: auto; 
    list-style: none; 
    display: inline; 
    margin-right: 1em; 
    font-size: 1em;
    font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;
    
}

nav ul li a {
    text-decoration: none; 
    color: rgb(0, 0, 0); 
     
}

h1 {font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;}

h2{font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;}

h3 {font-family: sofia-pro,sans-serif;
font-weight: 250;
font-style: normal;}

p {font-family: ambroise-std,serif;
font-weight: 300;
font-style: normal;
    
}

figcaption { font-family: ambroise-std,serif;
font-weight: 200;
font-style: normal; 
    font-size-adjust: auto; 
}


figure {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}