/* CSS DOCUMNET */ 


<meta name="viewport" content="width=device‑width, initial‑scale=1"> title {
    font-size: 4em;
    color: cornflowerblue;
    font-family: sans-serif;
    align-content: center;
}

h1 {
    color: #1D2B4F;
    font-size: 3em;
    align-content: center;
    margin-left: 8em;
}

h2 {
    color: #3E65C6;
    font-size: 2.5em;
    font-family: serif;
    margin-left: 9.7em;
    padding: 1em;
}

h3 { padding: inherit; 
    font-size: 1.5em;
    font-family: sans-serif;
    color: #007448;
}

h4 {
    margin-left: 2em;
    font-family: sans-serif;
    margin-right: 25em;
    font-size: 1em;
    color: #0B0B54;
    padding-top: 1em; 
}

h5 {
    font-family: sans-serif;font-size: 1em; 
}

h6 {
    font-family: sans-serif; font-size: .8em; 
}